.masthead {
	background-color: lightblue;
	width: 100%;
	height: 80px;
	/*padding-top: 32px;*/
	padding: 32 0px;
	margin: 0px;
	display: flex;
	justify-content: center;
  	font-family: "Twinkle Star", cursive;
 	font-weight: 400;
  	font-style: normal;

}

.navbar ul {
	list-style-type: none;
	display: flex;
	justify-content: center;
	font-family: "Lexend", sans-serif;
  	font-optical-sizing: auto;
  	font-weight: <100>;
  	font-style: normal;
}

.navbar a {
	color: black;
	text-decoration: none;
	padding: 0 20px;
	font-size: 1.5rem;
}

.navbar a:hover {
	background-color: lightblue;
	color: whitesmoke;
}

.section-two {
	width: 100%;
	height: 50px;
	/*padding-top: 32px;*/
	padding: 40 70px;
	margin: 0px;
	display: flex;
	justify-content: center;
  	font-family: "Twinkle Star", cursive;
 	font-weight: 400;
  	font-style: normal;
}

.section-three {
	width: 100%;
	height: 50px;
	/*padding-top: 32px;*/
	padding:  40 70px;
	margin: 0px;
	display: flex;
	justify-content: center;
  	font-family: "Twinkle Star", cursive;
 	font-weight: 400;
  	font-style: normal;
}



.cities ul {
	list-style-type: none;
	display: flex;
	justify-content: center;
	font-optical-sizing: auto;
	height: 10rem;
}

.cities li {
	padding: 0 30px;
	font-size: 2.3rem;
	 font-family: "Passions Conflict", cursive;
  	font-weight: 400;
  	font-style: normal;
}


.section-three {
	display: flex;
	justify-content: center;
}

.quotes {

	display: flex;
	justify-content: center;
	height: 10rem;
}

.quote-one {
	padding: 10px;
	margin: 20px;
	width: 50%;
}

.quote-two {
	padding: 10px;
	margin: 20px;
	width: 50%;
}

.quote-three {
	padding: 10px;
	margin: 20px;
	width: 50%;
}

@media (max-width: 730px) {
	.cities ul {
		display: flex;
		flex-direction: column;
		margin: 120px 70px 70px 0px;
	}

	.cities li {
		width: 100%;
		
		margin: 0px 0 20px 170px;
	}

	.book {
		margin: 130px;
	}
}

@media (max-width: 730px) {
	.quotes {
		display: flex;
		flex-wrap: wrap;
	}

	.quote-one,
	.quote-two {
		width: 50%;
		padding: 0;
		margin: 0 0 20px 0;
	}

	.quote-three {
		width: 100%;
		padding: 0;
		margin: 0 20px 20px 0;
	}
}
.book {
	justify-content: center;
	height: 110px;
}
.button {
    background-color: lightskyblue;
    color: white;           
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 8px;
    display: block;
    margin: 0 auto;

}
footer {
	display: flex;
	justify-content: center;
}

.about {
	padding: 15px;
}